/**
 * Site header
 */
.site-header {
  //border-top: 5px solid $border-color-03;
  //border-bottom: 2px solid #f5f5f5;
  min-height: $spacing-unit * 1.865;
  //line-height: $base-line-height * $base-font-size * 2.25;
  //height: $spacing-unit * 2.865;

  // Positioning context for the mobile navigation icon
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;  
  background: linear-gradient(to bottom, #f5f5f5, white);
  //background-image: url("/assets/images/universe-1566161_1280.jpg");
  box-shadow: 0px 1px 10px #cfcccc; 
}

.site-title {
  @include relative-font-size(2.000);
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;  
  text-decoration: none;
  //padding-top: 10px; 
  padding-bottom: 10px; 
  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $site-title-color;
  }
  
  &:hover {
    text-decoration: none;
    color: #2196f3;
  }
  
}

.site-nav {
  position: absolute;
  top: 9px;
  right: $spacing-unit / 2;
  background: linear-gradient(to bottom,#dbd5d5, white);
  //border: 1px solid #0a0a0a;  
  //border-radius: 5px;
  text-align: right;
  margin-top: .76rem;
  //transform: translateY(10px);
  
  .nav-trigger {
    display: none;
  }


  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 11px;
    text-align: center;

    > svg path {
      fill: #000;	  
    }    
  }

  .menu-label:hover {
     background-color: inherit;
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    //z-index: 2;
    cursor: pointer;
    
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;    
    //background-color: #d4c8c8;    
  }  
  
  input:checked ~ .menu-label {
   	> span path {	  
      visibility: hidden;	  
    }
    background-image: url(/assets/images/close.svg); 
    background-size: 31px 31px;
    background-repeat: no-repeat;
    background-position: center;	      	
  }

  .page-link {
   @include relative-font-size(1.125);
	  //color: $text-color;
    color: rgb(133, 121, 121);
    line-height: $base-line-height;
    display: block;
    padding: 5px 10px;
    font-weight: normal;
    font-size: 1.275rem;
    text-decoration: none;	    

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;	  
    }
    margin-left: 20px;
  }

  .page-link:hover{    
    color: $link-hover-color;
    
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    float: right;
    border: none;
    //background-color: inherit;
    background: linear-gradient(to bottom, #f5f5f5, white);
    transform: translateY(10px);
 
    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0;      

      &:not(:last-child) {
        margin-right: 20px;
      }
      margin-left: auto;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  //border-top: 1px solid #cfcccc;
  //box-shadow: 0px -1px 20px #cfcccc;
  padding: $spacing-unit 0;
  background: linear-gradient(to top, #f3f0f0, #f3f0f0);
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.feed-subscribe{
  padding: 5px 5px 0px 5px;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $text-color;
  font-weight: normal;
  a{
  color: $text-color; 
  //color: white;
}
}



.footer-col {
  //margin-bottom: $spacing-unit / 3;
  margin-bottom: 0px;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex;
    text-align: center;
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit / 2);

    &:first-child {
      padding-right: $spacing-unit / 2;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit / 2;
    }
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
  background-color: #fff;
  font-size: 1rem;
  font-weight: normal;
  padding-top: 80px;
}


.page-heading {
  @include relative-font-size(2);  
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;
  margin-top: $spacing-unit / 2;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $text-color; 
}

.post-link {
  display: block;
  @include relative-font-size(1.275);
  text-decoration: none;   
}




/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.425);
  letter-spacing: -1px;
  line-height: 1.15;
  font-weight: 300;
  //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.425);
  }
}

.post-content {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: $spacing-unit;

  h1, h2, h3 { margin-top: $spacing-unit  }
  h4, h5, h6 { margin-top: $spacing-unit }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
}


.social-media-list {
  display: inline-table;
  //margin: 0 auto;
  li {
    float: left;
    margin: 5px 0px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: $spacing-unit / 4;
      border: 0px solid $border-color-01;
      &:hover { border-color: $border-color-02 }
    }
  }
}

.social-media-title {
	font-weight: bold;
	padding: 5px 5px 2px 5px;
	color: $text-color;
}



/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  margin: 0 auto;
  text-align: center;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
	  padding: $spacing-unit / 8;
	  border: 1px solid $border-color-01;
    }
    div {
      display: block;
      padding: $spacing-unit / 8;
      border: 1px solid $border-color-01;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}


/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}
