// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/**
 * The hero image 
 */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  //background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/lucas-calloch-P-yzuyWFEIk-unsplash.jpg"); 

  /* Set a specific height 
   height: 450px;  
  max-width: 100%;  
  vertical-align: middle;
  display: block; */

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image

 */
.hero-text {  
  position: absolute;
 text-align: center;
  top: 40%;
  left: 40%;
  transform: translate(-30%, -50%); 
  color: $background-color;  
}



/**
 * Buttons
 */
.btn {
  border: none; /* Remove borders */
  color: $background-color; /* Add a text color */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  font-weight: 400;  
  text-decoration: none;
  padding: .35rem .7rem;  
  border-radius: .25rem;
  display: inline-block;
  transition: all 0.2s;
  box-sizing: border-box;
  font-size: 1.275rem;
  margin-top: .75rem;
}

.success {background-color: #04AA6D;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}

.submit {background-color: #df1c44} /* Red */
.submit:hover {background: #DF1C44C9}

/* Scroll button style */
.scroll-to-top{
	position: fixed;
	bottom: 30px;
	right: 20px;
	//color: $background-color;
  color: #000;
	font-size: 1.375rem;
	font-weight: lighter;
	padding: .42rem .52rem;
	border-radius: 50%;  
	//background-color: $brand-color-dark;
  background: rgba(256, 256, 256, 0);
	svg {height: 32px; }
	
	:hover {
	  svg {fill: #4FCE5D;}
	}
}

/*Category link div's*/
.category-links{
	//color: #fff;
	font-size: 1.175rem;
	font-weight: lighter;
	padding: .2rem;  
	border-radius: 1px;
	min-width: 80px;
	max-width: 250px;
  border: none;
  //border-bottom: 1px solid #f5b3b2;  
  //background-color: #f5f5f5;	
	text-decoration: none;
	text-align: center;
	display: inline-block;
  box-shadow: 0px 2px 3px #bbaeae;
}

.category-links a{
	color: #000;	
  text-decoration: none;
  font-weight:bold;
}

.category-links a:visited{
	color: #000;
  text-decoration: none;	
}

.category-links a:hover{
  //color: rgb(88, 86, 86);
  font-weight:bold; 
  text-decoration: underline dotted;      
}

.category-small-links{	
	font-size: 1rem;
	font-weight: bold;
	padding: .1rem;
	border-radius: 5px;
	min-width: 50px;
	max-width: 150px;	
}

/* Custom image styles */
img[src~="thumbnail"] {
   width:150px;
   height:100px;
}

img[src~="bordered"] {
   border: 1px solid black;
}
img[src~="wrap"] {
   padding: 5px;
}
img[src~="wrapimg"] {
  max-width: 100%;
  max-width: 60%;
  vertical-align: middle;
  float:left;
}

img[alt~="author"] {
  display: block;
  float:left;
  width: 25px;
  height: 25px;
  padding: 0px;
  margin-right: 5px;
  margin-top: -2px;
  border-radius: 50%;
}

img#header-logo{
	width:180px;
	height:40px;
	margin-top:16px;
}

/**
 * Dropdown Menu
 */
  /* Dropdown Button */
.dropbtn {
  background-color: #e1e4e8;
  @include relative-font-size(1.125);
  line-height: $base-line-height;
  color: $text-color;
  padding: 10px; 
  border: none;
  font-weight: 300;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: $text-color;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  line-height: $base-line-height;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown 
.dropdown:hover .dropbtn {background-color: #3e8e41;} */


/* Style the search box */
.search-input {  
  padding: 8px;
  //padding-left:0px;  
  border-top: 1px solid #d8e3e9;
  border-right: 1px solid #d8e3e9;
  border-bottom: 1px solid #d8e3e9;
  border-left: 1px solid #d8e3e9;
  border-radius: 0px;
  border-right: 0px;
  border-radius: 5px;
  border:0px;
  background:#f3f0f0;
  font-size: 1.375rem;
  font-family: $base-font-family;
  font-weight: 300;
  color: #57656d; 
  width: 100%;  
  margin-top: 20px; 
 
}

.search-input::placeholder {
  color: #93909c;
}

.search-icon{
  color:#aca5a5;
  cursor:pointer;
  font-size: 0.925rem;
  padding: 7px 7px 7px 9px;
  margin-left: 2px;
  border: 1px solid #d8e3e9;
  border-left: 0px; 
  border:0px;
  //background-color: #e9e0e0;
  //border-top: 1px solid #b0bec5;
  //border-left: 0px solid #b0bec5;
  //border-bottom: 1px solid #b0bec5;
 // border-right: 1px solid #b0bec5;
 transform: translate(0px, -34px);
 transition: width 2s ease;
}

.search-input:focus {
  outline: 1px solid #b0bec5;  
}

.search-clear{
  color:#000;
  cursor:pointer;
  font-size: 1.375rem;
  padding: 12px 5px 0px 5px;     
  border:0px;   
  //border-left: 1px solid #d8e3e9;  
  background:#f3f0f0;
  margin-top: 20px; 
  margin-left:1px;
  transform: translate(-35px, 0px);
}


@media screen and (max-width: 320px) {
  .search-input{
    width:60%;
    font-size: 1.25rem;
    overflow-wrap: break-word;
    transition: width 2s ease;
  } 

  .search-clear{ 
    font-size: 1.25rem;
    padding-bottom: 2px;
  }
}

.search-form{
  width: 100%;
  padding-left: 10px;
}

#lunrsearchresults{  
  margin-top: 20px;
  padding-left: 0px;
  width: 100%;  
}

.lunrsearchresult{
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}
.lunrsearchresult-title{
  font-weight: bold;
  font-size:1.175rem;  
}

/* Style the feedbackform */
.fbk-input {  
  padding: 8px;
  border:none;
  border-bottom: 2px solid #b0bec5;
  border-radius: 0px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 1.125rem;
  color: $text-color; 
  width: 90%;  
}


.fbk-hdrsec {
  background-image: url("/assets/images/universe-1566161_1280.jpg");
  padding: 1rem;
  border: 1px solid $border-color-01;
  border-radius: 5px;
  margin: 0px 0px 0px 0px;  
  width: 100%; 
  color: $brand-color-light;
}

.fbk-sec {	
  padding: 1rem;
  border: 1px solid $border-color-01;
  border-radius: 5px;
  margin: 5px 0px 5px 0px;  
  background-color: $brand-color-light; 
  width: 100%; 
}

/* Style the search icon */
.icon {
    display: inline-block;
    fill: currentColor;
    width: 20px;
    height: 20px;
    line-height: 1;
    position: relative;
    top: -0.1em;
    vertical-align: middle;
}

.search__toggle {
    margin-left: 0rem;
    margin-right: 1rem;
    height: 2.5rem;
    border: 0;
    outline: none;
    color: #b3b3b3;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    width: 1px !important;
    border: 0 !important;
    overflow: hidden;
}


/* Breadcrumbs*/

#breadcrumbs {
	font-size: .925rem;
	text-decoration: none;
	font-weight: normal;
	margin: none;
	font-weight: normal;
}


/* Pagination*/
.previous-page{
	font-weight: normal;
	font-size: 1.475rem;
}

.next-page{
	font-weight: normal;
	font-size: 1.475rem;
}

.current-page{
	font-weight: normal;
	font-size: 1.475rem;
}

.remaining-page
{
	font-weight: normal;
	font-size: 1.475rem;
}

.archive-pagination{
    font-weight: normal;
	font-size: 1.475rem;
}

.archive-pagination a{
   text-decoration: none;
}
.archive-pagination a:visited{
   text-decoration: none;
}

.previous-page-archive{		
	display: inline-block;
	max-width: 47%;
	padding: 10px;	
	text-align: center;
}

.next-page-archive{
  float: right;
	text-align: center;
	display: inline-block;
	padding: 10px;
	max-width: 47%;
}


/* Misc styles */
.archive-title{
   font-size: 1.875rem;
   font-weight: bold;
}

.page-heading {
  font-weight: bold;  
}

.older-post-link { 
   font-size: 1.075rem;
   font-weight: lighter;
   text-decoration: none;
   text-align: center;
}

/* Footer styles*/
.footer-links-list {
  text-decoration: none;
  font-size: .92rem;
  font-weight: normal;
  list-style: none; 
  padding: 5px;  
  margin-left: 0; 
  margin-bottom: 0px; 
}

.footer-links{
  margin: 5px;
  

  a{
    text-decoration: none;
    color: rgb(133, 121, 121);
  }

  a:hover {
    color: $link-hover-color;
  }
}

.footer-description{
  padding: 5px 5px 2px 0px;
  font-size: .9rem;
  font-weight: bold;
  text-align: justify;  
}

.footer-docs{
  padding: 5px 5px 2px 5px;
  margin: 0 auto;
  color: $text-color;
  font-size:1.025rem;
  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .footer-docs{
    font-size:0.75rem;
    font-weight: normal;
    text-align: center;
  }

  .footer-links-list
  {
    font-size:0.825rem;
    font-weight: normal;
    text-align: center;
  }
}


table {
  border: 2px solid;
}

thead {
  border:0px;
  border-bottom: 2px solid;
}

tfoot {
  border:0px;
  border-top: 2px solid;
}

// Cookie consent style
#cookie-notice {
  padding: 0.5rem 1rem; 
  display: none; 
  text-align: center; 
  position: fixed; 
  bottom: 0; 
  width: calc(100% - 2rem); 
  background: #222; 
  color: rgba(255,255,255,0.8);
}

#cookie-notice a {
  display: inline-block; 
  cursor: pointer; 
  margin-left: 0.5rem;
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

@media (max-width: 767px) {
  #cookie-notice span {
    display: block; 
    padding-top: 3px; 
    margin-bottom: 1rem;
  }
  #cookie-notice a {
    position: relative; 
    bottom: 4px;
  }
}

/* Emojis */

.emoji{
  display: inline-block;
}

/* MathJax styles */
.maths {
  max-width: 100%;
  height: auto;
  font-size: 0.875rem;
  overflow:auto;
  background:rgb(222, 247, 247);
  border: 1px solid rgb(199, 230, 230);
}

/* Post navigation styles */
.post-navigation{  
  font-size: 1.125rem;    
  max-width: 100%;
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit;
  //background: linear-gradient(to bottom,#f5f5f5 , #fff);
  padding: 2px;
  a{
    text-decoration: none;
  }
}

.post-navigation-title{
  //color: #23245c;
  font-size: 1rem; 
  
}

.post-navigation::after{
  content: "";
  clear: both;
  display: block;
}

.post-navigation-previous{ 
    float: left;    
    text-overflow:ellipsis;
    overflow: hidden;
    padding-left: 3px;
    max-width:45%;
}

.post-navigation-next{
  float: right; 
  text-overflow:ellipsis;
  overflow: hidden;
  padding-right: 3px;
  max-width:45%;
}

/* Related Posts style */

.related-posts{
  background: linear-gradient(to right,#fff , #fff);  
}
.related-posts-list{
  text-decoration: none;
  list-style-type: square;
  margin: 1em;    
}

.related-posts-title{
    margin: 0px;
}

.related-posts-list > li::before {
  content: "\200B";
}

.related-posts-list li{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.related-posts-link, .related-posts-link:visited, .related-posts-link:hover, .related-posts-link:active {
  text-decoration: none; 
  font-size: 1.0275rem;
}

/* toc Stlyles */

#markdown-toc li {  
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: bold;
}
