---
layout: default
---

<div class="home">
<!-- <div id="breadcrumbs"><a href="/">Home</a>/Blog</div> -->
  <!-- {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} -->
   {{ content }}
 
 {% assign posts = site.posts %} 

  {%- if posts.size > 0 -%}
  
    {%- if page.list_title -%}
      <h1 class="page-heading">{{ page.list_title }}</h1>
    {%- endif -%}
  	
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts limit: site.recent_post_count -%}
	  
      <li>
        
        <h2>
          <!-- <span class="post-meta" style="margin:auto;">{{ post.date | date: date_format }}</span> -->
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          
        </h2>
        
		
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}	  
      </li> 
	  
      {%- endfor -%}	  
    </ul>	
	
  {%- endif -%}
  
  {%- if posts.size > site.recent_post_count  -%}
	<div class="older-post-link" style="font-weight: bold; font-size:1.2rem"> 
	      <!-- Dear reader, thanks for your avid interest<br/> -->
	      To see more posts, visit  <a  href="{{ "/archive/" | relative_url }}">archives</a>     
	</div>
	
  {%- endif -%}
</div>
