---
layout: default
---


{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<h1 style="display: flex;justify-content: center;">Categories</h1>

<!-- <figure>
  <img src="/assets/images/christina-winter-xIbmtX7cn2c-unsplash.jpg" alt="" style="margin:auto;">
  <figcaption style="text-align: right;">Photo by <a href="https://unsplash.com/@christina_winter?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Christina Winter</a> on <a href="https://unsplash.com/s/photos/colors-file-binder?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>  
  </figcaption>
</figure> -->

<!-- {% for category in site.categories %}
<div style="margin-bottom:5px;display: inline-block;">
  <div class="category-links"><a href="#{{ category | first}}-ref"> {{ category | first | replace: '-', ' '  }} </a> </div>
</div>       
{% endfor %} -->




<ul style="list-style-type: none;margin-left:0px;">
    {% for category in site.categories %}

      <li>
        <h2 id="{{ category | first}}-ref" style="margin-top:10px;margin-bottom:0px;display: flex;justify-content: center;">{{ category | first| replace: '-', ' '  }}</h2>
        <hr  style="margin:0px;margin-top:5px;margin-bottom:5px;color:#f5f5f5">
        <ul class="post-list">
        {% for post in category.last %}
          <li>
            
            <!-- <span class="post-meta">{% include post-reading-time.html %}</span> -->
            <a class="post-link" href="{{ post.url }}" style="display:inline;">{{ post.title }}</a>
            <span class="post-meta"  >{{ post.date | date: date_format }}</span>
            {%- if site.categories_show_excerpts -%}
              {{ post.excerpt | truncatewords: 25 }}
            {%- endif -%}	
         </li>
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
</ul>
