---
layout: default
---
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<h1><strong>Archive Posts</strong></h1>

<div style="margin-bottom:15px;display: inline-block;">
    {% for post in site.posts %}
      {% assign currentdate = post.date | date: "%Y" %}
      {% if currentdate != date %}
        <div class="category-links"><a href="#{{ currentdate }}-ref">{{ currentdate }}</a></div>    
        {% assign date = currentdate %} 
      {% endif %}    
    {% endfor %}
</div>

{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

    {% if forloop.first %}
    <h2 id="{{ this_year }}-ref" style="margin-bottom:0px;">{{this_year}}</h2>
    <hr  style="margin:0px;margin-top:5px;margin-bottom:5px;color:#f5f5f5">
    <!-- <h3 id="{{ this_year }}-{{ this_month }}-ref">{{ this_month | capitalize }}</h3> -->
    <ul class="post-list">
    {% endif %}

    <li>
      <span class="post-meta"><strong>{{ post.date | date: date_format }}</strong></span>
      <span class="post-meta">{% include post-reading-time.html %}</span>
      <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
      {%- if site.archive_show_excerpts  -%}
         {{ post.excerpt }}
       {%- endif -%}
    </li>
      	

    {% if forloop.last %}
    </ul>
    {% else %}
        {% if this_year != next_year %}
        </ul>
        <h2 id="{{ next_year }}-ref" style="margin-bottom:0px;">{{next_year}}</h2>
        <hr  style="margin:0px;margin-top:5px;margin-bottom:5px;color:#f5f5f5">
        <!-- <h3 id="{{ next_year }}-{{ next_month }}-ref">{{ next_month }}</h3> -->
        <ul class="post-list">
        {% else %}    
            {% if this_month != next_month %}
            </ul>
            <!-- <h3 id="{{ this_year }}-{{ next_month }}-ref">{{ next_month }}</h3> -->
            <ul class="post-list">
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}