---
layout: default
---
<!-- {% include breadcrumbs.html %} -->
<!-- <div id="breadcrumbs">
  <a href="/">Home</a> /
  <a href="/blog/">Blog</a> /
  <a href="/categories/#{{page.categories | first}}-ref">{{page.categories | first| capitalize }}</a>
  / {{page.title}}

</div> -->

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header" style="margin:0px; margin-top: 20px;margin-bottom: 20px;" >
    <h1 class="post-title p-name" itemprop="name headline" >{{ page.title | escape }}</h1>
    <p class="post-meta" style="text-align: center;">
	 {%- if page.author -%}
         {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
			{%- if page.avatar -%}
				<img  src="{{ page.avatar }}" alt="author : {{ author }}"> 
		    {%- endif -%}
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %} &nbsp;• &nbsp;
      {%- endif -%}
	  
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- if page.date -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
           {{ page.date | date: date_format }}  
      </time>
      {%- endif -%}
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      
	    {% include reading-time.html %}
	  </p>
	  {% include share-buttons.html %}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  {% include share-buttons.html %}
  <nav class="post-navigation">
    {% if page.previous.url %}
      <div class="post-navigation-previous">
        <span class="post-meta post-navigation-title">Previous Post:</span><br/>
        <a  href="{{ page.previous.url }}"> {{ page.previous.title }}</a>
      </div>      
    {% endif %}
    {% if page.next.url %}
      <div class="post-navigation-next">
        <span class="post-meta post-navigation-title">Next Post:</span><br/>
        <a  href="{{ page.next.url }}"> {{ page.next.title }}</a>
      </div>      
    {% endif %}
  </nav>
  
<!--   {%- include related-posts.html -%} -->

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
